<div class="card mt-5">
  <div class="card-body">
    <h3>Commnets (1,201)</h3>

    <div class="comment-body  mt-3">
      <p class="text-info">Sam Smith</p>
      <small class="text-danger">commented in : 09.07.2022</small>
      <div class="comment">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nam nisi
        provident.
      </div>
    </div>

    <div class="comment-body mt-3">
        <p class="text-info">Sam Smith</p>
        <small class="text-danger">commented in : 09.07.2022</small>
        <div class="comment">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nam nisi
          provident.
        </div>
      </div>

      <div class="comment-body mt-3">
        <p class="text-info">Sam Smith</p>
        <small class="text-danger">commented in : 09.07.2022</small>
        <div class="comment">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nam nisi
          provident.
        </div>
      </div>

  </div>
</div>
