<div class="card">
  <img class="card-img-top" src="https://media.istockphoto.com/id/1161702497/vector/team-of-programmer-concept-with-devops-software-development-practices-methodology-vector.jpg?s=612x612&w=0&k=20&c=5cqLQaudaYaXv3OdYQHjt-F-LhcuOiBhXWtHLMwj4PU=" alt="Card image cap">
  <div class="card-body">
    <div class="tags">
      <div class="tag"><p>Aws</p></div>
      <div class="tag"><p>Devops</p></div>
      <div class="tag"><p>Docker</p></div>
    </div>
    <h5>What is containerization theory</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#">see more...</a>
  </div>
</div>
