<footer>
  <div class="site-logo">Devpost</div>
  .
  <div class="footer">
    <div>
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="">Web Development</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="">DSA</a></li>
        <li class="nav-item">
          <a class="nav-link" a href="">Software Architectures</a>
        </li>
        <li class="nav-item"><a class="nav-link" a href="">Dev+ops</a></li>
      </ul>
    </div>
    <p>© 2023 Copyright: Yashen Fernando</p>
  </div>
</footer>
