.logo-outer{
    width: 100%;
    padding-top: 12px;
    display: flex;
    justify-content: center;
}
.app-name{
    width: fit-content;
    font-size: 28px;
    letter-spacing: 3px;
    color: var(--body-text-color);
    text-align: center;
    background-color: var(-secondery-color);
    border-radius: 12px;
}