<section class="featured pt-2">
  <div class="container-fluid">
    <div class="row featured-text-area ">
      <h2 class="featured-heading text-center text-white">Featured Posts</h2>
      <p class="featured-text text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-single-post-card></app-single-post-card>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-single-post-card></app-single-post-card>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-single-post-card></app-single-post-card>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <app-single-post-card></app-single-post-card>
      </div>
    </div>
  </div>
</section>

<section class="latest mt-5 container">
  <div class="latest-text-are text-center">
    <h2>Latest Post</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="box-area row col-12">
    <div class="col-4 mt-2">
      <app-single-post-card></app-single-post-card>
    </div>
    <div class="col-4 mt-2">
      <app-single-post-card></app-single-post-card>
    </div>
    <div class="col-4 mt-2">
      <app-single-post-card></app-single-post-card>
    </div>
    <div class="col-4 mt-2">
      <app-single-post-card></app-single-post-card>
    </div>
    <div class="col-4 mt-2">
      <app-single-post-card></app-single-post-card>
    </div>
    <div class="col-4 mt-2">
      <app-single-post-card></app-single-post-card>
    </div>
    <div class="col-4 mt-2">
      <app-single-post-card></app-single-post-card>
    </div>
    <div class="col-4 mt-2">
      <app-single-post-card></app-single-post-card>
    </div>
   
  </div>
</section>
