<div class="single-catagery container-fluid">
    <div class="row catagery-headind-area ">
        <h2 class="text-white">General Knoladge</h2>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4 mt-2 ">
            <app-single-post-card></app-single-post-card>
        </div>
        <div class="col-md-4 mt-2 ">
            <app-single-post-card></app-single-post-card>
        </div>
        <div class="col-md-4 mt-2 ">
            <app-single-post-card></app-single-post-card>
        </div>
        <div class="col-md-4 mt-2 ">
            <app-single-post-card></app-single-post-card>
        </div>
        <div class="col-md-4 mt-2 ">
            <app-single-post-card></app-single-post-card>
        </div>
        <div class="col-md-4 mt-2 ">
            <app-single-post-card></app-single-post-card>
        </div>
        <div class="col-md-4 mt-2 ">
            <app-single-post-card></app-single-post-card>
        </div>
        <div class="col-md-4 mt-2 ">
            <app-single-post-card></app-single-post-card>
        </div>
    </div>
</div>